.profile {
  display: flex;
  flex-direction: row;
  align-items: center;

  & a {
    text-decoration: none;
  }

  & img {
    width: 32px;
    vertical-align: bottom;
  }
}

.profilePicture {
  margin-left: 10px;
}

.profileUsername {
  margin-left: 4px;
}

.title {
  font-size: 38px;
  line-height: 1.15;
}

.body {
  margin-top: 60px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.58;

  & strong {
    font-weight: 500;
  }

  & h2 {
    font-size: 32px;
    margin-top: 52px;
    line-height: 1.15;
  }

  & h3 {
    font-size: 28px;
    margin-top: 48px;
    line-height: 1.15;
  }
}
