.profile {
  display: flex;
  flex-direction: row;
  align-items: center;

  & a {
    text-decoration: none;
  }

  & img {
    width: 32px;
    vertical-align: bottom;
  }
}

.profilePicture {
  margin-left: 10px;
}

.profileUsername {
  margin-left: 4px;
}

.title {
  font-size: 36px;
}

.body {
  margin-top: 60px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.58;

  & strong {
    font-weight: 500;
  }
}
