.root {
  width: 100%;
  margin: 0;
}

.wrapper {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}
.wrapper:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modelViewerCont {
  position: relative;
}

.animationControls {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.progressBar {
  flex-grow: 1;
}
