[submodule "modules/tween.js"]
	path = modules/tween.js
	url = https://github.com/project-pasta/tween.js.git
[submodule "modules/console/vendor/JS-Interpreter"]
	path = modules/console/vendor/JS-Interpreter
	url = https://github.com/NeilFraser/JS-Interpreter.git
[submodule "modules/console/vendor/blockly"]
	path = modules/console/vendor/blockly
	url = https://github.com/google/blockly.git
