@import '../../styles/variables.css';

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  background-color: var(--palette-grey-200) !important;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  & img {
    width: 220px;
  }
}

.itemTitleContainer {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

.itemTitle {
  font-size: 24px;
  display: block;
  line-height: 36px;
}

.itemSubtitle {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.541176);
  display: block;
  padding-bottom: 16px;
}

.itemContent {
  text-align: right;
  padding-right: 16px;
  padding-bottom: 16px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.870588);
  align-self: flex-end;
}

.itemSocialCont {
  display: flex;
  flex-direction: row;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
}

.itemSocial {
  display: flex;
  align-items: center;
  color: var(--palette-grey-700);
}

.itemSocialNumber {
  margin-left: 2px;
}

.itemSocial + .itemSocial {
  margin-left: 12px;
}

.itemSocialIcon {

}
