.root {
  display: flex;
  height: 100%;
  width: 100%;
}

.leftPane {
  position: relative;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.rightPane {
  flex-grow: 1;
  position: relative;

  & :global(.blocklySvg) {
    vertical-align: bottom;
  }
}

.canvasCont {
  position: relative;
  flex-grow: 1;
}

.canvas {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.canvasControl {
  height: 250px;
}

.playButton {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 188, 212, 0.30);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 70px;

  &:hover {
    background-color: rgba(0, 188, 212, 0.45);
    cursor: pointer;
  }
}

.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.progressBar {
  flex-grow: 1;
  padding: 12px;
}

:global(.blocklyText) {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
