@import '../../styles/variables.css';

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
};

.fillParent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
