<!DOCTYPE html>
<html class="no-js" lang="{{ locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet"" type="text/css">
    <% Object.keys(styles).forEach(key => { %><link href="<%- styles[key] %>" rel="stylesheet"><% }); %>
    {{ head }}
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="content">{{ body }}</div>
    <script>
      window.__INTIAL_STATE__={{ initialState }};
      window.__LOCALE__='{{ locale }}';
    </script>
    {{ script }}
  </body>
</html>
