<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <%= head %>
    <style>html, body { margin: 0; padding: 0; }</style>
    <link href="/assets/styles.css" rel="stylesheet">
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="content"><%= body %></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : <%= facebookAppId %>,
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <script src="/assets/two.min.js"></script>
    <script src="/assets/three.min.js"></script>
    <script src="/assets/ace.js"></script>
    <script>
      window.__INITIAL_STATE__ = <%= initialState %>;
    </script>
  </body>
</html>
