@import '../../styles/variables.css';

:root {
  --file-category-button-container-width: 60px;
}

.fileCategoryButtonContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--file-category-button-container-width);
  background-color: var(--palette-grey-200);
  text-align: center;
}

.fileCategoryButtons {
  display: flex;
  flex-direction: column-reverse;
  width: 52px;
  margin: 0 auto;
}

.fileCategoryButton {
  margin: 2px;
}

.editor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--file-category-button-container-width);
  right: 0;
}

.fillParent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.markForModified {
  color: var(--palette-cyan-500);
  font-size: 10px;
  margin-left: 2px;
}

.guideWhenNoFileOpened {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guideWhenNoFileOpenedButtonImg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.menu {
  display: inline-block;
}

.menuList {
  position: absolute;
}

.menuItem {
  cursor: pointer !important;
}
